.nav {
    margin-left: 20px;
}

.jumbotron {
    padding-left: 20px;
    padding-right: 20px;
}

.img_style1 {
    max-width: 200px;
    max-height: 200px;
}

.generate_result {
    width: 280px;
    height: 40px;
    margin: 35px auto 40px auto;
    border: none;
    background: linear-gradient(200deg, #0a86d9, #4ace70);
    color: #fff;
    font-weight: bold;
    letter-spacing: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.generate_result:hover {
    background: linear-gradient(200deg, #4ace70, #0a86d9);
    background-position-x: -280px;
}

#imageUpload1 {
    font-size: 1.4em;
    height: 15.7em;
    border-radius: 4px;
    border: 1px solid #c8cccf;
    color: #6a6f77;
    outline: none;
}

#imageUpload2 {
    font-size: 1.4em;
    height: 15.7em;
    border-radius: 4px;
    border: 1px solid #c8cccf;
    color: #6a6f77;
    outline: none;
}