.left {
    float: left;
    /* 固定侧浮动 */
    width: 47%;
}

.right {
    margin-left: 53%;
    /* 值为固定侧的宽度 */
}

.cards {
    display: grid;
    padding: 5px;
    background-color: rgb(199, 246, 248);
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    margin-bottom: 15px;
}

.box {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 50px;
    text-align: center;
    border-radius: 20%;
    overflow: hidden;
    /* border: 1px solid; */
    margin-bottom: 30px;
}

.box:hover:before {
    /* top: 50% */
}

.box:hover .box-in {
    /* visibility: hidden; */
}

.box:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* content: '回到顶部'; */
    width: 40px;
    color: peru;
    font-weight: bold;
}

.box-in {
    visibility: visible;
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 20px;
    border: 3px solid black;
    border-color: white transparent transparent white;
    margin-bottom: 60px;
    transform: rotate(45deg);
}